.root {
  &.root-editor {
    .panel {
      backdrop-filter: $panel-backdrop-filter;
      background-color: $panel-color-bg;
      border-radius: $panel-border-radius;
      background-image: url('../../assets/editor/scanlines.png');
      background-blend-mode: multiply;
      border: $panel-border;
      box-shadow: $main-box-shadow;
      mix-blend-mode: $panel-blend-mode;
      opacity: $panel-opacity;
      overflow: hidden;
      padding: $panel-padding;
      transition-property: box-shadow;
      
      &:not(:hover) {
        box-shadow: $main-box-shadow-hidden;
      }
    }

    .toolbar {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      display: block;
      left: $toolbar-x;
      padding: 0;
      position: absolute;
      top: $toolbar-y;
      transition-property: left, box-shadow;

      &:not(:hover) {
        left: $toolbar-x-closed;
        transition-delay: $toolbar-transition-delay-close;
        transition-duration: $toolbar-transition-duration-close;
        transition-timing-function: $toolbar-transition-timing-function-close;
      }

      .btn {
        border-left: 0;
        display: block;
        height: $toolbar-btn-h;
        padding: $toolbar-btn-padding;
        transition-property: $toolbar-transition-property;
        opacity: .9;
        width: $toolbar-btn-w;
        
        &:not(:first-child) {
          border-top-color: $toolbar-btn-border-color;
          border-top-left-radius: 0;
          border-top-style: $toolbar-btn-border-style;
          border-top-width: $toolbar-btn-border-width;
        }
        
        @at-root .root.root-editor .panel.toolbar:not(:hover) .btn {
          border-top-color: $toolbar-btn-border-color-hidden;
          &,
          &::before {
            transition-delay: $toolbar-transition-delay-close;
            transition-duration: $toolbar-transition-duration-close;
            transition-timing-function: $toolbar-transition-timing-function-close;
          }
          &::before {
            background-color: $toolbar-btn-bg-color-hidden;
          }
        }

        &::before {
          -webkit-mask-image: url('../../assets/editor/none.svg');
          -webkit-mask-origin: content-box;
          -webkit-mask-position: center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          background-color: $toolbar-btn-bg-color;
          content: ' ';
          display: block;
          height: 100%;
          transition-property: $toolbar-transition-property;
          width: 100%;
        }

        &.btn-draw::before {
          -webkit-mask-image: url('../../assets/editor/pencil.svg');
        }
      }
    }
  }
}
